*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 5%;
    margin-left: 25%;
    background-color: rgb(252, 252, 245);
 
}

div#menu_form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 0 2% 0;
}

div#botao_fechar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 0 2% 0;

}

div#menu_add{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div#cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 0 2% 0;
}


